 {include file="default/user/header" title="用户中心" /}
                     <main id="main-container">



    <style>
        .user-info-container {
            display: flex;
            align-items: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            flex-direction: row;
        }

        .user-image {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            margin-right: 20px;            
            transform: rotate(0deg);
        }

        .user-details {
            display: flex;
            flex-direction: column;
        }

        .user-details div {
            margin-bottom: 5px;
        }
    </style>




                <div class="content content-narrow">
                    <div class="row">



                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">用户信息</h3>
                        </div><div class="block-content">
                        
                        
                        
                        
                        
                        
                            <div class="user-info-container">
        <img src="http://q1.qlogo.cn/g?b=qq&nk={$user.qq}&s=100" class="img-thumbnail user-image" id="user-image">
        <div class="user-details">
        <b>
            <div>                        ID:<span class="text-primary">{$user.id}</span></div>
            <div>                        名称:{$user.name}</div>
            <div>                        余额:<span class="text-primary">{$user.money}</span></div>
            </b>
        </div>
    </div>
    

<br/>
                      
                       
                        
                        
                        
                        
                      
                                                  <div class="row">                   <div class="col-4">
                            <center>
                              <a class="btn btn-outline-primary btn-sm" href="/cart"><i class="fas fa-shopping-bag"></i> 订购产品</a>
                              </center>
                              </div>
                                                      <div class="col-4">
                                                      <center>
                              <a class="btn btn-outline-primary btn-sm" href="/user/pay"><i class="fas fa-wallet"></i> 余额充值</a>
                              </center>
                              </div>
                                                      <div class="col-4">
                                                     <center>
                              <a class="btn btn-outline-primary btn-sm" href="/user/information"><i class="fas fa-user-circle"></i> 修改资料</a>
                              </center>
                             
                               </div>
                               </div>
                        
                      <br/>
                        </div>
                        </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">管理产品(最近5条)</h3>
                         
      <a class="btn btn-outline-primary btn-sm" href="/user/order">查看更多 <i class="fas fa-chevron-right"></i></a>
     
                        </div>
                        <div class="block-content">
                            <div class="table-responsive">
                                <table class="table table-bordered  table-vcenter table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>名称</th>
                                            <th>账号</th>
                                            <th>开通时间</th>
                                            <th>到期时间</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{foreach $order as $o}

                                        <tr>
                                        <td>{$o.id}</td>
                                        <td>{$o.cartid}</td>
                                        <td>{$o.user}</td>
                                        <td>{$o.atime|date="Y-m-d",###}</td>
                                        <td><span class="text-primary">{$o.ztime|date="Y-m-d",###}</span></td>
                                        <td>
{if $o.state=="1"}
                                            <button class="btn badge badge-success">正常</button>                                 
{/if}
{if $o.state=="2"}
                                            <button class="btn badge badge-warning">暂停</button>                                 
{/if}
{if $o.state=="3"}
                                            <button class="btn badge badge-danger">终止</button>                                 
{/if}
       </td>
                                        <td>
                                            <a class="badge badge-primary" href="/user/order/{$o.id}">查看</a>                                                                                  </td>
                                    </tr>        
                    {/foreach}

    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>







    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">网站公告(最近5条)</h3>
                                                
      <a class="btn btn-outline-primary btn-sm" href="/announcement">查看更多 <i class="fas fa-chevron-right"></i></a>
     
                        </div>
                        <div class="block-content">

                            <div class="table-responsive">
                                <table class="table table-bordered table-vcenter table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th>标题</th>
                                            <th>时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{foreach $announcement as $a}

                                        <tr>
                                        <td>{$a.name}</td>
                                        <td>{$a.time|date="Y-m-d H:i:s",###}</td>
             
                                        <td>
                                            <a class="badge badge-primary" href="/announcement/{$a.id}">查看</a>                                                                                  </td>
                                    </tr>        
                    {/foreach}

    </tbody>
                                </table>
                            </div>


                        </div>

                    </div>
                    </div>









                    </div>



                </div>
            </main>

            {include file="default/user/footer" /}
           
                        
                       
