{include file="default/user/header" title="账户充值" /}


                      <main id="main-container">
                <div class="content">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">在线充值</h3>
                        </div>
                        <div class="block-content">
                            <form method="POST">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <label class="col-12">充值金额</label>
                                            <div class="col-12">
                                                <input name="money" placeholder="请输入充值金额" class="form-control text-primary font-size-sm" autocomplete="off" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12">支付方式</label>
                                            <div class="col-12">
                                                <select name="payid" class="form-control text-primary font-size-sm">
{volist name="pay" id="p"}

                                      <option value="{$p.id}">{$p.name}</option>
              {/volist}
                                                </select>
                                            </div>
                                        </div>
<font color="red">注:{$paycron}分钟未支付会自动删除订单支付了也不会充值到账,请注意时间！</font><br/><br/>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary btn-block">充值</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            {include file="default/user/footer" /}