 {include file="default/header" title="分类信息"/}

<!--页面主要内容-->
    <main class="lyear-layout-content">
	
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-12">
            <div class="card">
              <header class="card-header"><div class="card-title">分类信息</div></header>
              <div class="card-body">


                <form action="" method="post" name="edit-form" class="edit-form">
                  <div class="tab-content">






                      <div class="mb-3">
                        <label for="web_site_title" class="form-label">标题</label>
                        <input class="form-control" type="text" name="name" value="{$product.name}" placeholder="">      
                      </div>

                      <div class="mb-3">
                        <label for="web_site_title" class="form-label">介绍</label>
                        <textarea style="height:200px" class="form-control" type="text" name="introduce">{$product.introduce}</textarea>
                      </div>
                      <div class="mb-3">
                        <label for="web_site_title" class="form-label">排序</label>
                        <input class="form-control" type="text" name="sort" value="{$product.sort}" placeholder="数值越大越靠前">      
                      </div>
<div class="mb-3">
                    <label for="type" class="form-label">是否隐藏</label>
                    <div class="form-controls">
                      <select name="hide" class="form-select" id="type">
                        <option value="0" {if $product.hide=="0"}selected{/if}>否</option>
                        <option value="1" {if $product.hide=="1"}selected{/if}>是</option>
                      </select>
</div>
</div>

                       <button type="submit" class="btn btn-primary me-1">修改</button>
                    </div>





                   


                  </div>

 
                </form>

              </div>
            </div>
          </div>

        </div>

      </div>    
	
	</main>
    <!--End 页面主要内容-->


 {include file="default/footer" /}
<script>
    $("form").submit(function (){
        var load = layer.msg('修改中，请稍后...',{icon:16,shade:0.8,time:false});

        var name = $("input[name='name']").val();
        var introduce = $("textarea[name='introduce']").val();
        var hide = $("select[name='hide']").val();
var sort = $("input[name='sort']").val();
    
           $.ajax({
            type:'POST',
            url:'',
            data:{
                name:name,
                introduce:introduce,
                hide:hide,
                sort:sort,
            },
            dataType:'json',
            success:function (data){
                layer.close(load);
                if(data.code == 1){
                    layer.alert(data.msg,{icon:1,shade:0.8});
                }else{
                    layer.alert(data.msg,{icon:2,shade:0.8});
                }
            }
        });
        return false;
    });
</script>