{include file="default/user/header" title="修改邮箱" /}
<main id="main-container">
                <div class="content">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">修改邮箱</h3>
                        </div>
                        <div class="block-content">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="form-group row">
                                            <label class="col-12">原邮箱</label>
                                            <div class="col-12">
                                                <input type="text" name="mail" value="{$user.mail}" class="form-control form-control-alt form-control-lg font-size-sm" readonly>
                                            </div>
                                        </div>

                                                    <div class="form-group row">

                                                    <div class="col-6">
                                                        <input type="text" class="form-control form-control-alt form-control-lg font-size-sm" name="captcha" placeholder="验证码">
</div>

                                                    <div class="col-6">
 <img width="100%" height="50px" id="randimg" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random();"/>
</div>
                                                    </div>


	<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control form-control-alt form-control-lg font-size-sm" id="code" name="code" placeholder="请输入邮箱验证码" required>
										<div class="input-group-append">
											<button class="btn btn-primary" type="button" style="line-height:33px;" onclick="validate()">获取验证码</button>
										</div>
									</div>
								</div>


                                        <div class="form-group row">
                                            <label class="col-12">新邮箱</label>
                                            <div class="col-12">
                                                <input type="email" name="newmail" value="" placeholder="请输入新的邮箱" class="form-control form-control-alt form-control-lg font-size-sm">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary btn-block">修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
{include file="default/user/footer" /}
<script>
function validate() {
 var load = layer.msg('请求中,请稍候...',{icon:16,time:false});

var captcha = $("input[name='captcha']").val();

        if(captcha.length < 1){
            layer.alert('验证码不可为空！',{icon:2});
            return false;
        }
        $.ajax({
            type:'POST',
            url:'',
            data:{
           act:"validate",
          captcha:captcha,
            },
            dataType:'json',
            success:function (data){
                layer.close(load);
                if(data.code == 1){
                    layer.alert(data.msg,{icon:1});
                }else{
document.getElementById("randimg").src='{:captcha_src()}?'+Math.random();
                    layer.alert(data.msg,{icon:2});
                }
            }
        });
        return false;
  }
 $("form").submit(function (){
        var load = layer.msg('修改中，请稍后...',{icon:16,time:false});

        var newmail = $("input[name='newmail']").val();
        var code = $("input[name='code']").val();

        if(newmail.length < 1 | code.length < 1){
            layer.alert('必填项不可为空！',{icon:2});
            return false;
        }

        $.ajax({
            type:'POST',
            url:'',
            data:{
                act:"modify",
                code:code,
                newmail:newmail,
            },
            dataType:'json',
            success:function (data){
                layer.close(load);
                if(data.code == 1){
setTimeout(function (){
                   location.href = ''
},1000);
                    layer.alert(data.msg,{icon:1});
                }else{
                    layer.alert(data.msg,{icon:2});
                }
            }
        });
        return false;
    });
</script>
