{include file="default/user/header" title="产品控制台" /}

                      <main id="main-container">
                <div class="content content-narrow">

<div class="row">

                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">产品信息</h3>
                        </div>
                        <div class="block-content">
<h1>
<span class="text-primary">{$cart.name}</span>
</h1>
    <style>
        .container {
            display: flex;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        flex-direction: column;
        }
        </style>
                            <div class="container">
{$cart.content}
</div>
<br/>
状态:{if $data.state=="1"}<button class="btn badge badge-success">正常</button>{/if}
{if $data.state=="2"}<button class="btn badge badge-warning">暂停</button>{/if}
{if $data.state=="3"}<button class="btn badge badge-danger">终止</button>{/if}
<br/>
<br/>
续费价格:￥{if $cart.money=="0"}免费{else}{$cart.money}{/if}/
{if $cart.cycle=="day"}日{/if}
{if $cart.cycle=="month"}月{/if}
{if $cart.cycle=="season"}季{/if}
{if $cart.cycle=="year"}年{/if}
{if $cart.cycle=="unrestricted"}一次性{/if}
<br/>
开通时间:{$data.atime|date="Y-m-d",###}<br/>
到期时间:<span class="text-primary">{$data.ztime|date="Y-m-d",###}</span><br/><br/>
</div>
</div>
</div>


                 <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">产品操作</h3>
                        </div>
                        <div class="block-content">
  <button onclick="renew()" class="btn btn-primary">续费</button>
{if $upgrade=="1"}
  <button onclick="upgrade()" class="btn btn-primary">升/降级产品</button>
{/if}
<br/><br/>
{$ClientArea}

<br/><br/>

                                        

</div>
</div>
</div>



</div>
</div>
</main>
            {include file="default/user/footer" /}
<script>

    function renew(){

 layer.prompt({title: '续费/{if $cart.cycle=="day"}日{/if}
{if $cart.cycle=="month"}月{/if}
{if $cart.cycle=="year"}年{/if}
{if $cart.cycle=="unrestricted"}一次性{/if}', formType: 3}, function(time, index){
        layer.close(index);
 layer.confirm('确定要续费<b style="color:#ff6b6b">'+time+'</b>{if $cart.cycle=="day"}日{/if}
{if $cart.cycle=="month"}月{/if}
{if $cart.cycle=="year"}年{/if}
{if $cart.cycle=="unrestricted"}一次性{/if}吗？',{icon:3},  function (){
            renews(time)
        });
      });
}

    function renews(time){
        var load = layer.load('1',{shade:0.8,time:false});

        $.ajax({
            type:'POST',
            url:'',
            data:{
                act:'renew',
                id:{$data.id},
time:time,
            },
            dataType:'json',
            success:function (data){
                layer.close(load);
                if(data.code == 1){
                    setTimeout(function (){
                   location.href = ''
},1000);
                    layer.alert(data.msg,{icon:1});
                }else{
                    layer.alert(data.msg,{icon:2});
                }
            }
        });
    }

function upgrade() {
    layer.open({
        type: 1,
        closeBtn: false,
        shift: 7,
        shadeClose: true,
        title:"产品升降级",
        content: '<form><div class="block-content"><div class="form form-group row"><label class="col-12">请选择产品</label><div class="col-12"><select name="newcartid" class="form-control text-primary font-size-sm" id="newcartid"><option value="">不选择</option>{if $upgrades}{volist name="upgrades" id="up"}<option value="{$up.id}">{$up.information}</option>{/volist}{/if}</select><br/><div class="form-group row"><div class="col-12"><button type="button" onclick="upgrades()" class="btn btn-primary btn-block">提交</button></div></div></div></form>'
    });
}
 




    function upgrades(){
             var load = layer.msg('提交中，请稍后...',{icon:16,time:false});
var newcartid=$("#newcartid").val();
        $.ajax({
            type:'POST',
            url:'',
            data:{
                act:'upgrade',
                newcartid:newcartid,
            },
            dataType:'json',
            success:function (data){
                layer.close(load)
                if(data.code == 1){
                    setTimeout(function (){
                        location.href = ''
                    },1000);
                    layer.alert(data.msg,{icon:1});
                }else{
                    layer.msg(data.msg,{icon:2});
                }
            }
        });
    }

</script>