{include file="default/user/header" title="充值结果" /}
                      <main id="main-container">
                <div class="content content-narrow">

<div class="row">

                        <div class="col-12">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">充值结果</h3>
                        </div>

                        <div class="block-content">
<h1 class="text-primary">
{$msg}
</h1>
<br/>
</div>
</div>
</main>
            {include file="default/user/footer" /}


