<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{$webname} - 重置密码</title>
 	<meta name="description" content="{$description}">
		<meta name="keywords" content="{$keywords}">
<link rel="shortcut icon"type="image/x-icon"href="{$favicon}"/>

        <link rel="stylesheet" id="css-main" href="/static/assets/css/oneui.min.css">
     <link rel="stylesheet" href="/static/assets/css/themes/city.min.css">
<!--
 <style>
.bg-image{background-position:0 0%;background-size:cover}
</style>
-->
    </head>    
    <body class="bg-image" style="background-image: url('{$templateset['网站背景']}');">
        <div id="page-container">

            <main id="main-container">

                <div class="hero-static">
                    <div class="content">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-6 col-xl-4">
                                <!-- Sign In Block -->
                                <div class="block block-themed block-fx-shadow mb-0">
                                    <div class="block-header" style="border-radius: 8px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                        <h3 class="block-title">重置密码</h3>
                                        <div class="block-options">
                                          
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <div class="p-sm-3 px-lg-4 py-lg-5">
                                            <h1 class="mb-2">{$webname} - 重置密码</h1>
<p>已重置密码？<a href="/login">点击这里登录</a><p>
                                            <form class="js-validation-signin">
                                                <div class="py-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control form-control-alt form-control-lg font-size-sm" name="userName" placeholder="账号或邮箱" autocomplete="off">
                                                    </div>
                                                    <div class="form-group row">

                                                    <div class="col-6">
                                                        <input type="text" class="form-control form-control-alt form-control-lg font-size-sm" name="captcha" placeholder="验证码">
</div>

                                                    <div class="col-6">
 <img width="100%" height="50px" id="randimg" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random();"/>
</div>
                                                    </div>



	<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control form-control-alt form-control-lg font-size-sm" id="code" name="code" placeholder="请输入邮箱验证码" required>
										<div class="input-group-append">
											<button class="btn btn-primary" type="button" style="line-height:33px;" onclick="validate()">获取验证码</button>
										</div>
									</div>
								</div>




                                                    <div class="form-group">
                                                        <input type="text" class="form-control form-control-alt form-control-lg font-size-sm" name="userPassword" placeholder="输入新密码" autocomplete="off">
                                                    </div>



                                                    <div class="form-group">
                                                        <input type="text" class="form-control form-control-alt form-control-lg font-size-sm" name="userNewpassword" placeholder="再次输入新密码" autocomplete="off">
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-12 col-xl-12">
                                                        <button type="submit" class="btn btn-block btn-primary">
                  重置
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content content-full font-size-sm text-muted text-center">
                        <strong> <a class="font-w600" href="/" target="_blank">{$webname}</a></strong>&copy; <span data-toggle="year-copy">2024</span><br/><a href="//beian.miit.gov.cn/">{$templateset['网站备案号']}</a>

                    </div>
                </div>
            </main>
        </div>
        <script src="/static/assets/js/oneui.core.min.js"></script>
        <script src="/static/assets/js/oneui.app.min.js"></script>
        <script src="/static/assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
    </body>
</html>
<script>
function validate() {
        var userName = $("input[name='userName']").val();
        var userCaptcha = $("input[name='captcha']").val();

        if(userName.length < 1 || userCaptcha.length < 1){
            One.helpers('notify', {type: 'danger', message: '请确保账号和验证码不为空', delay:2000});
            return false;
        }

        One.helpers('notify', {type: 'warning', message: '正在获取验证码，请稍后...', delay:2000});

        $.ajax({
            type:'POST',
            url:'',
            data:{
                user:userName,
                act:"validate",
                captcha:userCaptcha,
            },
            dataType:'json',
            success:function (data){
                if(data.code == 1){
                    One.helpers('notify', {type: 'success', message: data.msg, delay:2000});
                }else{
                    document.getElementById("randimg").src='{:captcha_src()}?'+Math.random();
                    One.helpers('notify', {type: 'danger', message: data.msg, delay:2000});
}
            }
        });
        return false;
  }

$("form").submit(function (){
        var userName = $("input[name='userName']").val();
        var code = $("input[name='code']").val();
        var userPassword = $("input[name='userPassword']").val();
        var userNewpassword = $("input[name='userNewpassword']").val();

        if(userName.length < 1 || code.length < 1 || userPassword.length < 1 || userNewpassword.length < 1){
            One.helpers('notify', {type: 'danger', message: '请确保每项不为空', delay:2000});
            return false;
        }

        One.helpers('notify', {type: 'warning', message: '正在重置，请稍后...', delay:2000});

        $.ajax({
            type:'POST',
            url:'',
            data:{
                user:userName,
                code:code,
                act:"submit",
                userpassword:userPassword,
                usernewpassword:userNewpassword,
            },
            dataType:'json',
            success:function (data){
                if(data.code == 1){
                    One.helpers('notify', {type: 'success', message: data.msg, delay:2000});
                    setTimeout(function (){
                        location.href = '/login'
                    },1000);
                }else{
                    One.helpers('notify', {type: 'danger', message: data.msg, delay:2000});
}
            }
        });
        return false;
  });
</script>
<script>
$('.block').addClass('animated rotateInDownLeft');
</script>


        

