    <footer>
        <div class="container">
            <div class="footer-grid">
                <div class="footer-col">
                    <h4>产品服务</h4>
                    <ul>
                        <li><a href="/cart">虚拟主机</a></li>
                        <li><a href="/cart">产品价格</a></li>
                    </ul>
                </div>
                
                <div class="footer-col">
                    <h4>帮助支持</h4>
                    <ul>
                        <li><a href="#">使用文档</a></li>
                        <li><a href="/user/submitticket">提交工单</a></li>
                    </ul>
                </div>
                
                <div class="footer-col">
                    <h4>用户入口</h4>
                    <ul>
                        <li><a href="/login">用户登录</a></li>
                        <li><a href="/register">注册账号</a></li>
                    </ul>
                </div>
                
                <div class="footer-col">
                    <h4>关于我们</h4>
                    <ul>
                        <li><a href="/announcements">网站公告</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-bottom">
                <p>© {$smarty.now|date_format:"%Y"} {$webname} <a href="//beian.miit.gov.cn/">{$templateset['网站备案号']}</a></p>
            </div>
        </div>
    </footer>

    <script src="/static/assets/js/oneui.core.min.js"></script>
    <script src="/static/assets/js/oneui.app.min.js"></script>
    <script src="/static/assets/vendor/layer/layer.js"></script>
    
    <script>
        document.getElementById('menuToggle').addEventListener('click', function() {
            document.getElementById('navLinks').classList.toggle('nav-active');
        });
        
        {if $templateset["公告开关"]=="开"}
        layer.alert('{$templateset["网站公告"]}', {title: "网站公告"});
        {/if}
    </script>
</body>
</html>
